/* core */
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "SF Pro Display";
  margin: 0;
  overflow-x: hidden;
  color: #000000;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: 0;
}

button {
  cursor: pointer;
  padding: 0;
  border: 0;
  background: 0;
}

button:focus {
  outline: 0;
}

span {
  display: inline-block;
}

section {
  position: relative;
}

hr {
  margin: 0;
}

ul {
  padding: 0;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* .section-width */
.section-width {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .section-width {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .section-width {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .section-width {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .section-width {
    max-width: 1480px;
  }
}

/*  typography  */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-family: "SF Pro Display";
}
h1 {
  font-size: 42px;
  color: #4777F4;
  font-weight: 700;
  line-height: 50px;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
}
h2 {
  font-size: 32px;
  font-weight: 500;
  text-transform: capitalize;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 40px;
  }
}
p {
  font-weight: 400;
  font-size: 17px;
  color: #707070;
  line-height: 26px;
  margin: 0;
}

/********************* Common Css  *********************/
/* border radius */
.rounded--default, .btn, .about-left span, .testimonial .contact {
  border-radius: 5px;
}
/* transition */
.transition-default, a, .slick-dots li {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
/* buttons */
.btn {
  color: #ffffff;
  font-weight: 700;
  background-color: #4777F4;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 10px;
  font-size: 14px;
  min-height: 50px;
  text-transform: uppercase;
  z-index: 1;
}
.btn:after {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  border-radius: 5px;
  content: '';
  background: rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
.btn:hover::after {
  left: 0%;
  right: auto;
  width: 100%;
}
/* section-padding */
.section-padding {
  padding: 120px 0;
}

@media only screen and (max-width: 992px) {
  .section-padding {
    padding: 100px 0;
  }
}

@media only screen and (max-width: 767px) {
  .section-padding {
    padding: 80px 0;
  }
}

/* section-title */
.section-title {
  padding-bottom: 70px;
}

.section-title h2 {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 15px;
}

.section-title hr {
  background-color: #4777F4;
  height: 2px;
  width: 80px;
  border: 0;
  margin: 0 auto;
}

/* hero, about */
.hero .section-width, .about .section-width {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 991px) {
  .hero .section-width, .about .section-width {
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  .hero .section-width, .about .section-width {
       flex-direction: row;
  }
}

@media only screen and (min-width: 992px) {
  .hero .half-width, .about .half-width {
    width: 50%;
  }
}


/********************* Hero *********************/
.hero {
  padding: 110px 0 0;
  position: relative;
  z-index: 1;
}

.hero::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../../img/hero-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  bottom: 0;
  z-index: -1;
}

.hero-content {
  margin-bottom: 50px;
}

@media only screen and (max-width: 991px) {
  .hero-left {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-left {
    margin-right: 150px;
  }
}

.hero-left h1, .hero-left h2 {
  text-transform: capitalize;
}

.hero-left h1 {
  margin-bottom: 30px;
}

.hero-left h2 {
  margin-bottom: 10px;
}

.hero-left .btn {
  min-width: 160px;
}

.hero-right span {
  width: 100%;
}

.hero-right span img {
  float: right;
}

/********************* About *********************/
.about {
  background-color: #F8F9FC;
  position: relative;
  z-index: 1;
}

.about::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../../img/biography-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  z-index: -1;
}

@media only screen and (max-width: 1200px) {
  .about-left {
    margin-bottom: 50px;
  }
}

.about-left span {
  padding: 20px 55px 0 0;
  background: #1F2235;
}

@media only screen and (min-width: 992px) {
  .about-left span {
    margin-right: 60px;
  }
}

.about-right h2 {
  margin-bottom: 20px;
}

.about-right p {
  margin-bottom: 40px;
}

.about-right .btn {
  min-width: 190px;
}

/********************* latest-work *********************/
.latest-work {
  position: relative;
  z-index: 1;
  text-align: center;
  overflow: hidden;
}

.latest-work::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../../img/latest-work-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  top: 120px;
  left: 0;
  z-index: -1;
}
.latest-work .section-width {
  position: relative;
}

.latest-work .section-width:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 15px;
  width: calc(100% - 30px);
  height: 100%;
  border-bottom: 1px solid #edeef0;
  margin-bottom: -78px;
}

@media only screen and (min-width: 992px) {
  .latest-work .section-width:before {
    left: 0;
    margin-bottom: -135px;
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .latest-work .section-width:before {
    margin-bottom: -118px;
  }
}

@media only screen and (min-width: 1200px) {
.latest-work .items {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.latest-work .items {
  padding: 0 15px;
}

.latest-work .item {
  padding: 0 12px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 991px) {
  .latest-work .item:last-child {
    margin-bottom: 0;
  }
}

.latest-work .item img{
  box-shadow: 0 5px 14px rgba(45, 49, 54, 0.08);
}

/********************* testimonial *********************/
.testimonial {
  position: relative;
  z-index: 1;
}

.testimonial::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../../img/testimonial-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  top: 0;
  z-index: -1;
}

.testimonial-item{
  margin: 0 auto 50px;
  text-align: center;
  background: #F8F9FC;
  padding: 55px 50px 60px;
}

@media only screen and (min-width: 992px) {
  .testimonial-item{
    width: 750px;
  }
}

@media only screen and (max-width: 767px) {
  .testimonial-item {
    padding: 50px  10px 60px;
  }
}

.testimonial-item img {
  border-radius: 50%;
  margin-bottom: 20px;
}

.testimonial-item h5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.testimonial-item h6 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 40px;
}

.testimonial-item blockquote {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #888;
  margin: 0;
}

.testimonial .contact {
  text-align: center;
  background-color: #4777F4;
  margin: 0 auto;
  padding: 45px 20px;
}

@media only screen and (min-width: 992px) {
  .testimonial .contact {
    width: 750px;
  }
}

.testimonial .contact h6 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 18px;
  font-weight: 500;
}

.testimonial .contact a {
  font-size: 25px;
  color: #fff;
  font-weight: 700;
}

.testimonial .contact a:hover {
  opacity: .7;
}

@media only screen and (max-width: 767px) {
  .testimonial .contact a {
    font-size: 20px;
  }
}

/********************* Footer Css *********************/
.footer {
  background-color: #F8F9FC;
  text-align: center;
  padding: 50px 0 40px;
}